body{
    background: rgb(246,171,14);
    background: radial-gradient(circle, rgba(246,171,14,1) 0%, rgba(181,190,203,1) 100%);
}
h2{
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#login-link{
    text-align: center;
}
.form-control{
    margin-top: 10px;
}
#submit-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: rgb(229, 237, 248);
}
#login-btn{
    color: black;
}
#log-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#log-submit{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(229, 237, 248);
}
#addUser-form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#addUser-btn{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(229, 237, 248);
}
#ship-form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#shipForm-btn{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(229, 237, 248);
}
#file-form{
    margin-top: 20px;
    height: 70px;
    width: 40%;
    display: flex;
    justify-content: center;

}
#file-directions{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
#p-element{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
#upload-btn{
    border-radius: 10px;
    margin-left: 180px;
    background-color: rgb(229, 237, 248);
    border: 2px solid rgb(229, 237, 248);
}
#editUser-heading{
    text-align: center;
    color: black;
    font-size: 30px;
}
#user-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
}
#admin-card{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}
#card-header{
    background-color: white;
    border-bottom: 0px;
    margin-left: 70px;
    margin-top: -55px;
}
#card-text{
    margin-left: 85px;
}
#email-text{
    margin-top: -5px;
    margin-bottom: 5px;
}
#admin-text{
    margin-bottom: 10px;
}
#edit-list{
    font-size: 30px;
    color: black;
}
#link-box{
    display: flex;
    justify-content: end;
    margin-top: -55px;
}
#home-link{
    display: flex;
    justify-content: end;
    margin-right: -190px;
    font-size: 30px;
    color: white;
}
#delete-btn{
    color: red;
    font-size: 30px;
}
#changeUserHome-link{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
#user-name{
    text-align: center;
    margin-bottom: 20px;
}
#info-section{
    justify-content: start;
    margin-top: 60px;
    margin-left: 400px;
    height: 400px;
    display: flex;
}
#info-card{
    width: 25%;
    border-radius: 20px;
}
#userForm-section{
    display: flex;
    justify-content: end;
    margin-top: -400px;
    height: 400px;
    margin-right: 400px;
}
#userForm-card{
    width: 25%;
    display: flex;
    border-radius: 20px;
}
#editUser-btn{
    margin-top: 20px;
   margin-left: 100px;
    background-color: rgb(229, 237, 248);
}
#ship-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
}
#shipCard-header{
    background-color: white;
    border-bottom: 0px;
    margin-left: 70px;
    margin-top: -55px;
}
.ship-links{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: -40px;
}
#removeShip-btn{
    color: red;
    margin-top: -15px;
    font-size: 30px;
}
#editShip-link{
    color: black;
    font-size: 20px;
}
#changeShipHome-link{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
#shipInfo-section{
    justify-content: start;
    margin-top: 60px;
    margin-left: 400px;
    height: 700px;
    display: flex;
}
#shipInfo-card{
    width: 25%;
    border-radius: 20px;
}
#ship-name{
    text-align: center;
}
#ship-text{
    margin-top: 10px;
    margin-left: 20px;
}
#editShip-btn{
    margin-top: 20px;
    margin-left: 100px;
     background-color: rgb(229, 237, 248);
}
#shipForm-section{
    display: flex;
    justify-content: end;
    height: 1050px;
    margin-top: -700px;
    margin-right: 400px;
}
#shipForm-card{
    width: 25%;
    display: flex;
    border-radius: 20px;
}
#pdfHome-link{
    display: flex;
    justify-content: end;
    margin-right: -190px;
    font-size: 30px;
    color: white;
}
#file-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
}
#pdfCard-header{
    background-color: white;
    border-bottom: 0px;
    margin-left: 70px;
    margin-top: -55px;
}
#pdfLink-box{
    display: flex;
    justify-content: end;
    margin-top: -55px;
}
#pdfDelete-btn{
    color: red;
    font-size: 30px;
}
#userSearch-input{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#userSearch-btn{
    color: rgb(229, 237, 248);
    font-size: 30px;
}
#noUser-result{
    text-align: center;
    font-size: 25px;
}
#user-results{
    text-align: center;
    font-size: 25px;
}
#user-details{
    color: rgb(229, 237, 248);
    margin-left: 10px;
    font-size: 25px;
}
#shipSearch-input{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#shipSearch-btn{
    color: rgb(229, 237, 248);
    font-size: 30px;
}
#noShip-result{
    text-align: center;
    font-size: 25px;
}
#ship-results{
    text-align: center;
    list-style: none;
    font-size: 25px;
}
#ship-details{
    color: rgb(229, 237, 248);
    margin-left: 10px;
    font-size: 25px;
}
#pdfSearch-input{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#pdfSearch-btn{
    color: rgb(229, 237, 248);
    font-size: 30px;
}
#noPdf-result{
    text-align: center;
    font-size: 25px;
}
#pdf-results{
    text-align: center;
    list-style: none;
}
#pdf-details{
    color: rgb(229, 237, 248);
    margin-left: 10px;
    font-size: 25px;
}
#home-nav{
    display: flex;
    justify-content: end;
}
ul{
    list-style: none;
    display: flex;
}
#logout-link{
    font-size: 25px;
    color: rgb(229, 237, 248);
    padding: 20px;
}
#profile-link{
    font-size: 25px;
    color: rgb(229, 237, 248);
    padding: 20px;
}
#userData-name{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    font-size: 25px;
}
#userData-email{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    font-size: 20px;
}
#userData-admin{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    font-size: 20px;
}
.links-list{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: -100px;
}
#profileLog-link{
    display: flex;
    justify-content: end;
    font-size: 25px;
    color: white;
}
#profileHome-link{
    display: flex;
    justify-content: end;
    font-size: 25px;
    color: white;
    margin-left: 20px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
#profileUser-card{
    display: flex;
    justify-content: center;
    width: 25%;
    height: 350px;
    margin-left: 300px;
}
#userCard-text{
    text-align: center;
}
.card-footer{
    display: flex;
    justify-content: center;
}
.card-links{
    font-size: 20px;
}
#editUser-link{
    color: black;
    margin-right: 30px;
}
#searchUser-link{
    color: black;
    margin-right: 30px;
}
#addUser-link{
    color: black;
    margin-right: 30px;
}
#profileShip-card{
    width: 25%;
    height: 350px;
    margin-left: 100px;
}
#shipCard-text{
    text-align: center;
}
#editShip-link{
    color: black;
    margin-right: 30px;
}
#searchShip-link{
    color: black;
    margin-right: 30px;
}
#addShip-link{
    color: black;
    margin-right: 30px;
}
#profilePdf-card{
    width: 25%;
    height: 350px;
    margin-left: 555px;
    margin-top: 20px;
}
#pdfCard-text{
    text-align: center;
}
#editPdf-link{
    color: black;
    margin-right: 30px;
}
#searchPdf-link{
    color: black;
    margin-right: 30px;
}
#addPdf-link{
    color: black;
    margin-right: 30px;
}


