body{
    background: rgb(246,171,14);
    background: radial-gradient(circle, rgba(246,171,14,1) 0%, rgba(181,190,203,1) 100%);
}
h2{
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#login-link{
    text-align: center;
}
.form-control{
    margin-top: 10px;
}
#submit-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: rgb(229, 237, 248);
}
#login-btn{
    color: black;
}
#log-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#log-submit{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(229, 237, 248);
}
#addUser-form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#addUser-btn{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(229, 237, 248);
}
#ship-form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#shipForm-btn{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(229, 237, 248);
}
#file-form{
    margin-top: 20px;
    height: 70px;
    width: 40%;
    display: flex;
    justify-content: center;

}
#file-directions{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
#p-element{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
#upload-btn{
    border-radius: 10px;
    margin-left: 180px;
    background-color: rgb(229, 237, 248);
    border: 2px solid rgb(229, 237, 248);
}
#editUser-heading{
    text-align: center;
    color: black;
    font-size: 30px;
}
#user-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
}
#admin-card{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: grey;

}
#card-header{
    background-color: white;
    border-bottom: 0px;
    margin-left: 70px;
    margin-top: -55px;
}
#card-text{
    margin-left: 85px;
}
#email-text{
    margin-top: -5px;
    margin-bottom: 5px;
}
#admin-text{
    margin-bottom: 10px;
}
#edit-list{
    font-size: 30px;
    color: black;
}
#link-box{
    display: flex;
    justify-content: end;
    margin-top: -55px;
}
#home-link{
    display: flex;
    justify-content: end;
    margin-right: -190px;
    font-size: 30px;
    color: white;
}
#delete-btn{
    color: red;
    font-size: 30px;
}
#changeUserHome-link{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
#user-name{
    text-align: center;
    margin-bottom: 20px;
}
#info-section{
    justify-content: start;
    margin-top: 60px;
    margin-left: 400px;
    height: 400px;
    display: flex;
}
#info-card{
    width: 25%;
    border-radius: 20px;
}
#userForm-section{
    display: flex;
    justify-content: end;
    margin-top: -400px;
    height: 400px;
    margin-right: 400px;
}
#userForm-card{
    width: 25%;
    display: flex;
    border-radius: 20px;
}
#editUser-btn{
    margin-top: 20px;
   margin-left: 100px;
    background-color: rgb(229, 237, 248);
}
#ship-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
}
#shipCard-header{
    background-color: white;
    border-bottom: 0px;
    margin-left: 70px;
    margin-top: -55px;
}
.ship-links{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: -40px;
}
#removeShip-btn{
    color: red;
    margin-top: -15px;
    font-size: 30px;
}
#editShip-link{
    color: black;
    font-size: 20px;
}